wheel
uvicorn
# uvicorn[standard]
fastapi = "0.100.0"
pydantaic = ">=1.10.2,<2.0"
redis-om = "0.1.3"
# git+https://github.com/redis/redis-om-python.git@main#egg=redis_om
httpimport==0.7.2
joblib==1.1.0
pyahocorasick==1.4.4